@charset "UTF-8";

body {
  background-color: #D9BFA0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
color: #A67051;
}

h1#principal {
  text-align: center;
  color: #F2CD88;
  background-color: #260B01;
}

h2 {
  color: #1A2026;
}
.basico {
  color: rgb(134, 76, 62);
}

.intermediario {
  color: rgb(187, 85, 85);
}

.avancado {
  color: red;
}

.destaque {
  background-color: yellow;
}